body {
  background-color: lightcyan;
}

#main-div {
  position: absolute;
  top: 12%;
  left: 35%;
  display: inline-block;
  background-color:#afffff;
  border-radius: 15px;
  padding: 30px;
}

h1{
	color:#210070;
}

.notice {
  font-family: "Times New Roman", Times, serif;
}

.notice-button {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border-radius:10px;
  cursor:pointer;
  font-weight:900;
  border:1.5px solid;
}

#button-div {
  text-align: center;
}
